<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Age - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <section>
      <div class="container" style="background-color: white;">
        <div class="section-heading text-center" style="color: black;">
          <img src="img/logo_iconandtext.svg" width="33%" height="20%"/>
          <!-- <h1 class="mb-5">SLUMBER PARTY</h1> -->
          <h1 style="padding-top:50px;">Find waking up hard?</h1>
          <h5 class="mb-5">Wake up and compete against other college students to stop snoozing and start earning!</h5>
          <!-- <h2>Unlimited Features, Unlimited Fun</h2>
          <p class="text-muted">Check out what you can do with this app theme!</p> -->
          <hr>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <div class="text-center">
                  <div class="text-center">
                    <img src="img/group.png" width="30%"/>
                  </div>
                </div>
                <hr>
                <ul class="fa-ul">
                  <li>At the start of each week you get matched with new students</li>
                  <li class="text-muted">Matching is based on the time your alarm is set
                  and the amount you'd like to win</li>
                </ul>

              </div>
              <h5 class="card-title text-muted text-uppercase text-center">Pool</h5>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <div class="text-center">
                  <img src="img/management.png" width="30%"/>
                </div>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"></span>Every morning at the alarm time, you will be given a task to perform</li>
                  <li class="text-muted"><span class="fa-li"></span>You'll be given points based on your performance</li>
                </ul>

              </div>
              <h5 class="card-title text-muted text-uppercase text-center">Task</h5>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="text-center">
                  <img src="img/winning.png" width="30%"/>
                </div>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"></span>At the end of each week, the user with the most points will win the prize</li>
                </ul>

              </div>
              <h5 class="card-title text-muted text-uppercase text-center">Win</h5>
            </div>
          </div>
        </div>
        <div style="text-align:center; padding-top:50px;">
          <a href="signup.html" class="btn btn-outline btn-xl js-scroll-trigger" style="color: black; border-color:black;">Download Now For Free!</a>
        </div>
      </div>
  </section>

  <footer style="background-color:white;">
    <div class="container" style="color:black;">
      <p>&copy; Slumber Party 2018. All Rights Reserved.</p>
    </div>
  </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

  </body>

</html>
