.logo-image {
  /* background: rgba(0, 250, 250, 0.5) url('../brand/gradientlogo.png') no-repeat center center /cover; */
  /* background: url('../time-to-sleep/png/015-pillow.png') no-repeat center center /cover;  */
  /* background-blend-mode: screen; */
  /* -webkit-filter : hue-rotate(100deg); */
  /* filter : hue-rotate(200deg); */

  background: url('../time-to-sleep/png/015-pillow.png') no-repeat center center /cover;

  /* background-repeat: no-repeat, no-repeat; */
  filter: drop-shadow(0px 5px 20px green) invert(100%);
  animation: move-left-right 1s infinite;
}

.invert-color {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.bg-brick {
  background: url('../brand/brick-wall.png') no-repeat center center /cover;
}

.shadow-1 {
  box-shadow: 0px 6px 10px 5px rgba(0, 0, 0, 0.5) !important;
}

.shadow-2 {
  box-shadow: 0px 20px 15px 15px rgba(0, 0, 0, 0.5) !important;
}

/* .shadow-1 {
   -webkit-box-shadow: 0px 20px 40px 6px rgb(43, 42, 42);
    -moz-box-shadow: 0px 20px 40px 6px rgba(43, 42, 42,1);
    box-shadow: 0px 20px 40px 6px rgba(43, 42, 42,1);
}  */

.index-page .circles {
  animation: move-left-right 1s infinite;
  background: #ba54f5;
  background: -webkit-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: -o-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: -moz-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  position: absolute;
  transition: 0.5s ease-out;
  overflow: hidden;
  border-radius: 20%;
}

.page-header .content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  width: 80%;
  height: 77%;
  max-width: 1500px;
}

.page-header .content-top {
  position: absolute;
  top: 35%;
  left: 25%;
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  width: 50%;
  height: 50%;
  max-width: 999px;
}

.page-header .content-bottom {
  position: absolute;
  top: 60%;
  left: 60%;
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  width: 75%;
  height: 60%;
  max-width: 999px;
}

@media screen and (max-width: 768px) {
  .page-header .content-center {
    /* top: 60%;
    height: auto; */
    margin-top: 20vh;
    height: auto;
  }
}

@media screen and (max-width: 668px) {
  .page-header .content-center {
    /* top: 65%; */
    margin-top: 30vh;
    height: auto;
  }
}

@media screen and (max-width: 668px) and (max-height: 376px) {
  .page-header .content-center {
    /* top: 65%; */
    margin-top: 90vh;
    height: auto;
  }
}

@media screen and (max-width: 737px) and (min-height: 413px) {
  .page-header .content-center {
    /* top: 65%; */
    margin-top: 70vh;
    height: auto;
  }
}

@media screen and (max-width: 576px) and (max-height: 668px) {
  .page-header .content-center {
    /* top: 70%;
    height: auto; */
    margin-top: 40vh;
    height: auto;
  }
}

@media screen and (max-width: 415px) and (min-height: 735px) {
  .page-header .content-center {
    /* top: 70%;
    height: auto; */
    margin-top: 30vh;
    height: auto;
  }
}

@media screen and (max-width: 813px) and (min-height: 374px) {
  .page-header .content-center {
    /* top: 70%;
    height: auto; */
    margin-top: 45vh;
    height: auto;
  }
}


.bg-semi-transparent {
  background: rgba(21, 22, 102, 0) !important;
}

.bg-gradient {
  background: rgb(246,63,251);
  background: radial-gradient(circle, rgba(246,63,251,0.17748645510835914) 0%, rgba(193,70,252,0.5056598297213623) 100%);
}

.bg-darkest {
  background: #0e102c;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .fixed-bottom {
    position: static !important;
  }
}
/* for mobile phones only*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .fixed-bottom {
    position: static !important;
  }
}

@media screen and (min-width: 576px) {
  .navbar {
    padding-left: 9vh;
    padding-right: 9vh;
    background-color: transparent !important;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    padding-left: 9vh;
    padding-right: 9vh;
    padding-top: 2.5vh;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    padding-left: 15vh;
    padding-right: 15vh;
  }
}

#download-modal {
  -ms-transform: translate(0, -13%);
  -webkit-transform: translate(0, -13%);
  transform: translate(0, -13%);
}

#thankyou-modal {
    -ms-transform: translate(0, 10%);
  -webkit-transform: translate(0, 10%);
  transform: translate(0, 10%);
}

.modal-backdrop {
  background-color: rgb(55, 0, 255, 1);
}
